<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, maximum-scale=1.0, minimum-scale=0.5, " />

    <title>인스타미투: 미투데이를 즐기는 새로운 방법!</title>

    <script type="text/javascript">
        function execute(authUrl) {
            location.href = authUrl;
        }
    </script>
    <script type="text/javascript" charset="UTF-8"
            src="http://static.plugin.me2day.com/js/plugins_v1.js"></script>

    <meta property="me2:post_body" content='이제 미투데이에서 인스타그램을 만나보세요! "instame2.com":http://www.instame2.com ' />
    <meta property="me2:post_tag" content='instame2' />
    <meta property="me2:image" content='' />

    <link href="style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27973132-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                     '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="400" align="left" valign="top" background="./images/instame2-header.jpg">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="60" valign="bottom">
                        <div style="width:60px;height:40px;background-image:URL('./images/instame2-bottom-left.png')">
                            &nbsp;
                        </div>
                    </td>
                    <td width="480"><br />
                        <p class="text"> 인스타미투를 이용하시면 <strong>인스타그램에서 찍은 멋진 사진이 내 미투데이에도 자동으로</strong> 올라갑니다.
                            <strong><a href="http://itunes.apple.com/app/id322934412">미투데이</a>와 <a
                                    href="http://itunes.apple.com/app/id389801252">인스타그램</a> 계정</strong>만 있다면 이미
                            준비 완료!</p>
                        <p align="center" class="text">미투데이 로그인에 성공했습니다. 이제 <strong>인스타그램에도 로그인</strong>해주세요!
                        </p><br />
                        <center>
                            <table width="480" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="180" height="40" align="center" valign="middle"
                                        background="./images/login-me2-l.jpg">&nbsp;
                                    </td>
                                    <td width="300" height="40" align="center" valign="middle"
                                        background="./images/login-me2-r.jpg" class="loggedin">${me2_nick} <font
                                            color="e2acff">/ ${me2_id}</font></td>
                                </tr>
                                <tr>
                                    <td height="10" align="center" valign="middle">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="180" height="40" align="center" valign="middle"
                                        background="./images/login-insta-l.jpg">&nbsp;
                                    </td>
                                    <td width="300" height="40" align="center" valign="middle"
                                        background="./images/login-insta-r.jpg" class="login"><a
                                            onclick="execute('https://api.instagram.com/oauth/authorize/?response_type=code&client_id=91c3c93785684d8884ec207ab890e3c7&redirect_uri=http://instame2.com/instame2/register?me2dayUserId=enkeivy');">여기를
                                        클릭해서 로그인!</a></td>
                                </tr>
                            </table>
                            <br /><br />
                            <me2:metoo layout="large" profile_images="right" color="dark" pingback="checked"
                                       href="http://www.instame2.com"
                                       plugin_key="-DuCXtlaRB6F7SVVPFz1-g"></me2:metoo>
                            <br /><br /><br />
                            <me2:comment width="480" count="5" color="light" pingback="checked"
                                         href="http://www.instame2.com"
                                         plugin_key="-DuCXtlaRB6F7SVVPFz1-g"></me2:comment>
                        </center>
                    </td>
                    <td width="60" valign="bottom">
                        <div style="width:60px;height:40px;background-image:URL('./images/instame2-bottom-right.png')">
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40" background="./images/instame2-bottom-bottom.png">&nbsp;</td>
    </tr>
    <tr>
        <td class="footer"> Copyright ⓒ 2011 by instame2.com | "Instagram" and "me2day" are registered
            trademarks of their respective owners.
        </td>
    </tr>
</table>

</body>
</html>
